<!-- Created by Kordell Stewart on 2/22/19 -->
<!-- This partial file will serve as the side bar for every page on the site -->

<!-- Edited 2/28/2019 by Renzhi Hu: changed the link to the home page-->
<div class ="navbar">
<ul>
  <li><%= link_to 'Home', '/index.html', :relative => true %></li>
  <li><%= link_to 'Media & Press', '/media.html', :relative => true %></li>
  <li><%= link_to 'Appointments & Education', '/EduAppointment.html', :relative => true %></li>
  <li><%= link_to 'Teaching', '/teaching.html', :relative => true %></li>
  <li><%= link_to 'People', '/ppl_publication.html', :relative => true %></li>
  <li><%= link_to 'Noteworthy', '/noteworthy.html', :relative => true %></li>
</ul>
</div>